@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: #222;
    background:#222;
    height: 100vh;
}

body.on{
    background: radial-gradient(#555, #111);
}

canvas{
    margin-left: 80px;
    
    position: relative;
    right: -202px;
  
}

.bulb{
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #444;
    border-radius: 50%;
    z-index: 2;
    
}

body.on .bulb{
    background: #fff;
    box-shadow: 0 0 50px #fff,
    0 0 100px yellow,
    0 0 150px yellow,
    0 0 200px yellow,
    0 0 250px yellow,
    0 0 300px #fff,
    0 0 350px #fff;
    z-index: 1;
}

.bulb::before{
    
    content: '';
    position: absolute;
    top:-50px;
    left: 22.5px;
    width: 35px;
    height: 80px;
    background-color: #444;
    border-top: 30px solid #000;
    border-radius: 10px;  
}


body.on .bulb::before{
    background: #fff;
    z-index: 2;
}




body.on .bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    filter: blur(40px);
}



.bulb span:nth-child(1){
    position: absolute;
    top: -16px;
    left: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(342deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
}

body.on .bulb span:nth-child(1){
    box-shadow: 20px 20px 0 10px #fff;
    z-index: 3;
}


.bulb span:nth-child(2){
    position: absolute;
    top: -16px;
    right: -4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    transform: rotate(17deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
}

body.on .bulb span:nth-child(2){
    box-shadow: -20px 20px 0 10px #fff;
}


.bulb span{
   
}

.wire{
    position: absolute;
    left: calc(50% - 201px);
    bottom: 50%;
    width: 4px;
    height: 60vh;
    background: #000;
    z-index: 1;
    
}


#audio{
    display: none;
}

ul{
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    left: 200px;
    bottom: 11%;
    z-index: 1;
}

#segundo{
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    left: 600px;
    bottom: 140px;
}

#tercero{
    position: absolute;
    bottom: 0;

    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    left: 1000px;
    bottom: 11%;
}

#cuarto{
    position: absolute;
    bottom: 0;

    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    left: 1350px;
    bottom: 140px;
}

li{
    position: absolute;
    list-style-type: none;
    width: 90px;
    height: 90px;
    background: black;
    border-radius: 50%;
    z-index: 1;
}

li:nth-child(even){
    position: absolute;
    animation: animateEven 2.8s linear infinite;
}

li:nth-child(odd){
    position: absolute;
    animation: animateOdd 2.8s linear infinite;
}

@keyframes animateEven {
    
    0%{
        transform: translate(0,0) scale(1);
        opacity: 1;
        filter: blur(5px);
    }

    100%{
        transform: translate(100px,-500px) scale(3);
        opacity: 0;
        filter: blur(10px);
    }
}

#presentacion{
    position: absolute;
    font-size: 80px;
    right: 420px;
    bottom: 393px;
    font-family: 'Press Start 2P', cursive;
}

@keyframes animateOdd {
    
    0%{
        transform: translate(0,0) scale(1);
        opacity: 1;
        filter: blur(5px);
    }

    100%{
        transform: translate(-100px,-500px) scale(3);
        opacity: 0;
        filter: blur(10px);
    }
}

li:nth-child(1){
    animation-delay: 0s;
}
li:nth-child(2){
    animation-delay: .4s;
}
li:nth-child(3){
    animation-delay: .8s;
}
li:nth-child(4){
    animation-delay: 1.2s;
}
li:nth-child(5){
    animation-delay: 1.6s;
}
li:nth-child(6){
    animation-delay: 2s;
}
li:nth-child(7){
    animation-delay: 2.4s;
}
li:nth-child(8){
    animation-delay: 2.8s;
}

.box{
    display: flex;
}

.box .eye{
    position: absolute;
    width: 120px;
    height: 120px;
    display: block;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0,0, 2);

}